.checkoutProduct {
    display: flex;
    margin: 0 20px;
}
.checkoutProduct__info {
    padding-left: 20px;
}
.checkoutProduct__info > button {
    background-color: black;
    color: aqua;
    border: 1px aqua solid;
    outline: 1px black;
    font-family: "Texturina";
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.checkoutProduct__title {
    font-size: 26px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}