.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 35px;
    width: 100%;
    max-height: 600px;
    min-width: 100px;
    background-color: white;
}
.product > img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 110px;
}
.product__info {
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}
.product__price {
    margin-top: 5px;
}
.product__button {
    font-family: "Nerko One";
    font-size: 22px;
    letter-spacing: 1px;
    background-color: black;
    color: aqua;
    padding: 10px;
    border: 1px aqua solid;
    outline: 1px black solid;
    margin-top: 10px;
}
.product__button:hover {
    background-color: aqua;
    color: black;
    border: 1px black solid;
    outline: 1px aqua solid;
}

